body {
    font-family: Roboto, Arial, Consolas;
    margin: 0;
    padding: 0;
    background-color: #101010;
    color: #ccc;
}

#title {
    text-align: center;
}

#main-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

#grid-square-table {
    width: 300px;
    height: 300px;
    background-color: #202020;
}

.grid-square {
    width: 33.333%;
    height: 33.333%;
    background-color: #101010;
}